canvas {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

@media (min-aspect-ratio: 1/1) {
    canvas {
        width: 36%;
        margin-left: 25%;
    }
}

body {
    background: #232;
    height: 48000px;
}

#loader-note {
    color: #fff;
    font-family: monospace;
    font-size: 3em;
    margin-top: 80px;
    text-align: center;
}
