canvas, img {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    position: absolute;
}

@media (min-aspect-ratio: 1/1) {
    canvas, img {
        width: 30%;
        margin-left: 25%;
    }
}

body {
    background: #000;
    height: 70000px;
}

#loader-note {
    color: #fff;
    font-family: monospace;
    font-size: 3em;
    margin-top: 80px;
    text-align: center;
}
